* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: pink;
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
    height: 40px;
    width: 40px;
    border: rgb(134, 134, 134) solid;
    border-right-color: rgb(43, 41, 41);
    border-radius: 50%;
    animation: spinner 1s linear infinite;
}

@keyframes spinner {
    to { transform: rotate(360deg); }
}

